.timer {
    display: flex;
    gap: 24px;
    padding-top: 32px;
    justify-content: center;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
}

.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

#datetime-picker {
    margin-top: 32px;
    border-radius: 4px;
    width: 272px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
    outline: none;
}

#datetime-picker:hover,
#datetime-picker:focus {
    border: 1px solid #000;
}

#datetime-picker:active {
    border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
    border: 1px solid #808080;
    background: #fafafa;
    color: #808080;
    cursor: not-allowed;
}

button[data-start] {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    border: none;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin-left: 8px;
}

button[data-start]:hover,
button[data-start]:focus {
    background: #6c8cff;
}

button[data-start]:disabled {
    background-color: #cfcfcf;
    color: #989898;
    cursor: not-allowed;
}